.about{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 10px;
    width: 50%;
    margin-top: 30px;
}

ul#menu{
    padding: 0px;
}

ul#menu li {
    display: inline;
    padding: 12px;
}

ul#menu a{
    font-size: 3em;
}
