
.tool-bar{
    display: flex;
    background-color: white;
    justify-content: space-between;
    padding: 10px;
    top: 0;
    width: 98%;
    position: fixed;
}

.user-name{
    font-weight: bold;
    font-style: italic;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}