.blog-post{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    border: 2px solid black;
    height: 150px;
}

.avatar-img{
    margin: 5px;
}

.blog-text-block{
    align-items: flex-start;
}

.blog-published{
    display: flex;
    justify-content: space-between;
}

.blog-text {
    margin: 5px 250px 5px 5px;
    display: flex;
    flex-direction: column;
    justify-content:  space-between;
}

.modifier {
    background-color: gainsboro;
    width: 50%;
    margin: 2px;
    padding: 2px 17px; 
    font-size: 13px;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
  }
  

  .modifier-content{
    display: flex;
    justify-content: space-evenly;
  }
  
