.App{
    font-family:cursive;
    margin-top: 0;
}

.resp{
    color: black;
    text-align: center;
    width: 100%;
    margin-top: 50px;
}

a{
    color: cornflowerblue ;
}


hr{
    border: solid 1px black;
}

img{
    height: 100px;
    width: 100px;
}

h4, p{
    margin: 1px;
}